<div class="center-v white pad-vert">
  <%= form_for(@user) do |f| %>
    <div class='pure-form pure-form-aligned center-h'>
      <% if @user.errors.any? %>
        <div id="error_explanation" class='pure-form-message'>
          <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

          <ul>
          <% @user.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
          </ul>
        </div>
      <% end %>

      <legend class='pure-form legend'>
        <div class='content-header blue-logo'>
          <i class="fa fa-user fa-5x"></i>
          <h1><%= action %></h1>
        </div>
      </legend>

      <div class="pure-control">

        <div class="inline-group">
          <div class="centered float-left">
            <%= f.label :first_name %><br/>
            <%= f.text_field :first_name, class: 'pure-input centered' %>
          </div>

          <div class="centered float-left">
            <%= f.label :last_name %><br/>
            <%= f.text_field :last_name, class: 'pure-input centered' %>
          </div>

          <div class="centered float-left">
            <%= f.label :email %><br/>
            <%= f.text_field :email, class: 'pure-input centered' %>
          </div>
        </div>

        <div class="centered">
          <%= f.label :password %><br/>
          <div>
            <%= f.password_field :password, class: 'pure-input centered' %>
            <%= f.password_field :password_confirmation, class: 'pure-input centered' %>
          </div>
        </div>

        <div class="centered">
          <br/>
          <%= f.submit "Submit", class: "pure-button pure-button-primary" %>
        </div>
      </div>
    <% end %>
  </div>
</div>

