
<div class="banner">
    <h1 class="banner-head">
      <%= @user.first_name%>
    </h1>
</div>

<div class="center-h footer">
  <h1>Your Projects</h1>
  <br>
    <% @user.projects.each do |project| %>
      <%= link_to project_path(project) do %>
        <div class= "thumbnail">
          <h5><%= project.name %><h5><br>
          <%= project.comments %>
        </div>
      <%end%>
    <%end%>
    <br/>
    <%= link_to "New Project", new_project_path%>
</div>


