
<div class="banner">
    <h1 class="banner-head">
      <%= @user.first_name%>
    </h1>
</div>

<div class="center-h footer">
  <div class="inline">
    <h1>Your Projects</h1>
    <span class="pure-menu-item">
      <%= link_to new_project_path do %><i class="fa fa-plus fa-2x big-pad-right"></i><% end %>
    </span>
  </div>
  <br>
    <% @user.projects.each do |project| %>
      <%= link_to project_path(project) do %>
        <div class= "thumbnail">
          <h4><%= project.name %></h4><br>
          <p><%= project.tables.count %> tables</p>
          <p><%= project.relationships.count %> relationships</p>
          <br>
          <p><%= project.comments %></p>
        </div>
      <%end%>
    <%end%>
    <br/>
</div>


