<!DOCTYPE html>
<html>
<head>
  <title>ActiveSchemaMaker</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>


<div class="pure-menu pure-menu-horizontal">
  <ul class="pure-menu-list">
<% if current_user %>
  <li class="pure-menu-item"><%= current_user.first_name %></li>
  <li class="pure-menu-item">
  <%= link_to "Logout", '/logout', :class => "pure-menu-link" %>
</li>
<% else %>
  <%= link_to 'Login', '/login' %> | <%= link_to 'Signup', '/signup' %>
<% end %>
</ul>
</div>



<%= yield %>


</body>
</html>
