<!DOCTYPE html>
<html>
<head>
  <title>ActiveSchemaMaker</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="canvass debug">
<div class="nav-bar align-r shdw debug">
  <nav><%= link_to "New Schema", "#" %><%= link_to "Log Out", "#" %><%= link_to "Save", "#" %></nav>
</div>
<div class="menue align-r shdw debug">
stuff in here
</div>


<%= yield %>
</div>


</body>
</html>
