<!DOCTYPE html>
<html>
<head>
  <title>ActiveSchemaMaker</title>
  <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Open+Sans">
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>


<div class="home-menu pure-menu pure-menu-horizontal blue">
  <ul class="pure-menu-list">
    <%=link_to "Active Schema Designer", user_path(current_user.id), :class => "pure-menu-heading"%>

    <% if current_user %>
      <li class="pure-menu-item"><%= link_to "#{current_user.first_name}", user_path(current_user.id), :class => "pure-menu-link" %></li>
      <li class="pure-menu-item"><%= link_to "Logout", '/logout', :class => "pure-menu-link" %></li>
      <% if @route == "project#show" %>
        <li class="pure-menu-item pure-menu-has-children pure-menu-allow-hover">
            <a href="#" id="menuLink1" class="pure-menu-link"><%= @project.name %></a>
            <ul class="pure-menu-children">
                <li class="pure-menu-item"><a href="#" class="pure-menu-link">Save</a></li>
                <li class="pure-menu-item"><a href="#">Export Schema Image</a></li>
                <li class="pure-menu-item"><a href="#">Export Schema PDF</a></li>
            </ul>
        </li>
        <li class="pure-menu-item pure-menu-has-children pure-menu-allow-hover">
            <a href="#" id="menuLink1" class="pure-menu-link">Relationships</a>
            <ul class="pure-menu-children">
                <li class="pure-menu-item"><a href="#">Create Relationships</a></li>
                <li class="pure-menu-item"><a href="#">Build Active Record Migrations</a></li>
                <li class="pure-menu-item"><a href="#">Build Active Record Models</a></li>
                <li class="pure-menu-item"><a href="#">Export Active Record Files</a></li>
            </ul>
        </li>
      <%end%>
    <% else %>
      <li class="pure-menu-item"><%= link_to 'Login', '/login', :class => "pure-menu-link" %></li>
      <li class="pure-menu-item"><%= link_to 'Signup', '/signup', :class => "pure-menu-link" %></li>
    <% end %>

  </ul>
</div>



<%= yield %>


</body>
</html>
