<!DOCTYPE html>
<html>
<head>
  <title>ActiveSchemaMaker</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>


<% if current_user %>
  Signed in as <%= current_user.first_name %> | <%= link_to "Logout", '/logout' %>
<% else %>
  <%= link_to 'Login', '/login' %> | <%= link_to 'Signup', '/signup' %>
<% end %>




<%= yield %>


</body>
</html>
