<!DOCTYPE html>
<html>
<head>
  <title>Active Schema Maker</title>
  <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Open+Sans">
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>

<div id="container">
  <nav>
    <ul>
        <li><%= link_to 'Home', root_path, :class => "pure-menu-link" %></li>
        <li><a href="#">User</a>
        <!-- First Tier Drop Down -->
        <ul>
          <% if logged_in? %>
          <li><%= link_to "Logout", '/logout', :class => "pure-menu-link" %></li>
          <li><%= link_to "Update Profile", edit_user_path, :class => "pure-menu-link" %></li>
          <% else %>
          <li><%= link_to 'Login', '/login', :class => "pure-menu-link" %></li>
          <li><%= link_to 'Signup', '/signup', :class => "pure-menu-link" %></li>
          <% end %>
        </ul>
        </li>
        <% if logged_in? %>
        <li><a href="#">Projects</a>
        <!-- First Tier Drop Down -->
        <ul>
            <li><%= link_to 'All Projects', '/projects', :class => "pure-menu-link" %></li>
            <li><%= link_to 'New Project', '/projects/new', :class => "pure-menu-link" %></li>
            <% if @route == "project#show" %>
            <li><a href="#"><%= @project.name %></a>
          <!-- Second Tier Drop Down -->
            <ul>
                <li><a href="#">Save Project</a></li>
                <li><a href="#">Export Schema Image</a></li>
                <li><a href="#">Export Schema PDF</a></li>
                <li><a href="#">Create Relationships</a></li>
                <li><a href="#">Build Active Record Migrations</a></li>
                <li><a href="#">Build Active Record Models</a></li>
                <li><a href="#">Export Active Record Files</a></li>
            </ul>
            </li>
        </ul>
        </li>
        <% end %>
        <li><a href="#">Reference Materials</a></li>
        <li><a href="#">Help</a></li>
    </ul>
  </nav>
</div>

<%= yield %>


</body>
</html>