<fieldset>
  <div>
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <div>
    <%= f.label :data_type %>
    <%= f.text_field :data_type %>
  </div>

  <div>
    <%= f.label :default_value %>
    <%= f.text_field :default_value %>
  </div>

  <div>
    <%= f.label :auto_increment %>
    <%= f.check_box :auto_increment %>
  </div>

  <div>
    <%= f.label :allow_null %>
    <%= f.check_box :allow_null %>
  </div>
</fieldset>