<fieldset class="centered margin-all">
  <div class="pad-bottom">
    <%= f.label :name, class: "form-label" %>
    <%= f.text_field :name, class: "full-width-field" %>
  </div>

  <div, class: "full-width-field">
    <%= f.label :data_type, class: "form-label" %>
    <%= f.select :data_type, %w[string text integer bigint decimal boolean date time timestamps] %>
  </div>

  <div>
    <%= f.label :default_value, class: "form-label" %>
    <%= f.text_field :default_value, class: "full-width-field" %>
  </div>

  <div>
    <%= f.label :auto_increment, class: "form-label" %>
    <%= f.check_box :auto_increment %>
  </div>

  <div>
    <%= f.label :allow_null, class: "form-label" %>
    <%= f.check_box :allow_null %>
  </div>
</fieldset