<div class="side-bar centered align-r debug menu shdw">
  <%= form_for(@table, remote: true, html: {id: "main-form", class: 'form-container'}) do |f| %>
  <% if @table.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@table.errors.count, "error") %> prohibited this table from being saved:</h2>

    <ul>
      <% @table.errors.full_messages.each do |message| %>
      <li><%= message %></li>
      <% end %>
    </ul>
  </div>
  <% end %>

  <div class="subheader">
    <h3 class="small-margins"><%=@project.name%></h3>
    <div class="field form-container centered no-pad-bottom no-margin-bottom">
      <%= f.label :name, "Table Name" %><br/>
      <%= f.text_field :name, class: "full-width-field" %><br/>
    </div>

    <div class="to-right pad-right no-pad-top no-margin-top"><%= button_tag('Add Comments', type: 'button', class: 'btn-add-comments btn-link no-pad-top no-margin-top') %></div>

    <div class="comments-field form-container hidden">
      <%= f.label :comments, class: "form-label" %><br>
      <%= f.text_area :comments, class:'full-width-field' %>
    </div>

    <div class="line-break"></div>

    <div class="form-fields">
      <% if @table.fields.length > 0 %>
        <%= f.fields_for :fields, @table.fields do |ff| %>
          <%= render 'field_fields', f: ff %>
        <% end %>
      <% else %>
        <p class="small-italic">No fields to display</p>
      <% end %>
      <div class='no-border to-right pad-right'><%= link_to_add_fields "Add Field", f, :fields %></div>
      <div class="line-break margin-bottom"></div>
    </div>

    <div class="relationships hidden">
      <%= f.submit %>


    </div>

    <div class="actions">
      <%= button_tag(type: 'button', id: 'btn-validations') do %>Add Validations<% end %>
      <%= button_tag(type: 'button', id: 'btn-relationships') do %>Add Relationships<% end %>
    </div>

    <div class="actions">
      <%= f.submit %>
    </div>

  </div>
  <% end %>
</div>


