
  <%= form_for(@table, remote: true, html: {id: "create-table-form", class: 'form-container'}) do |f| %>


  <div class="subheader">
    <h3 class="small-margins"><%=@project.name%></h3>
    <div class="field form-container centered no-pad-bottom no-margin-bottom">
      <%= f.label :name, "Table Name" %><br/>
      <%= f.text_field :name, class: "full-width-field" %><br/>
    </div>

    <div class="to-right pad-right no-pad-top no-margin-top"><%= button_tag('Add Comments', type: 'button', class: 'btn-add-comments btn-link no-pad-top no-margin-top') %></div>

    <div class="comments-field form-container hidden">
      <%= f.label :comments, class: "form-label" %><br>
      <%= f.text_area :comments, class:'full-width-field' %>
    </div>

    <div class="line-break"></div>

    <div class="form-fields form-container">
      <table style="width:100%">
      <tr>
        <td class="centered"><small class="form-label">Name</small></td>
        <td class="centered"><small class="form-label">Data Type</small></td>
        <td class="centered"> </td>
      </tr>

      <% if @table.fields.length > 0 %>
        <%= f.fields_for :fields, @table.fields do |ff| %>
          <%= render 'field_fields', f: ff %>
        <% end %>
      <% end %>
      <div class='no-border to-right pad-right'><%= link_to_add_fields "Add Field", f, :fields %></div>
      <div class="line-break margin-bottom"></div>
    </div>

    <div class="relationships hidden">
      <%= f.submit %>


    </div>

  <!--   <div class="actions">
      <%= button_tag(type: 'button', id: 'btn-validations') do %>Add Validations<% end %>
      <%= button_tag(type: 'button', id: 'btn-relationships') do %>Add Relationships<% end %>

    </div> -->

    <div class="actions">
      <%= f.submit %>
    </div>

  <% end %>
  <!-- <button onclick="$('#field19, #field26').connections({'class': 'fast'})">connect name date</button> -->
  </div>
</div>

