<% style = "position: absolute; left: #{table.position_x}px; top: #{table.position_y}px;" %>
<div data-table-id="<%= table.id %>" style="<%= style %>" class="pure pure-u-md-1-4 draggable displayable-table">
  <div class="callout-card primary">
    <div class="card-label">
      <div class="label-text">
        <button id="tb<%= table.id %>" type="button" class="btn-link" title="tbl-edit">Edit</button>
      </div>
    </div>

    <div class="callout-card-content">
      <div class='header'><h3 class="lead no-margin-bottom no-pad-bottom">Table: <%= table.name %></h3></div>

      <div class="callout-table-divider"></div>

      <div class='content'>
        <table class="no-border pad-top">
          <thead>
            <tr>
              <th class="dispTable-col1"><small></small></th>
              <th class="dispTable-col2"><small>Field Name</small></th>
              <th class="dispTable-col3"><small>Field Data Type</small></th>
            </tr>
          </thead>
          <tbody>
            <% table.fields.each do |field| %>
              <%= render partial: '/fields/show', locals: { field: field} %>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
