<div data-tag ="t<%= @table.id %>" >

  <div class="title-frame">
    <span class = "table-title"><%= @table.name %> </span>
    <button id="tb<%= @table.id %>" class="edit" title="edit">Edit</button>
  <div>

  <div class="fields-list">
    <% @fields.each do |field| %>
      <div data-tag="f<%= field.id %>" class="field-frame <%=field.title%>' '<%=field.type%>"> 
        <%= field.name %>
      </div> 
    <%end%>
  </div>

  <div class="foreignk-frame">
<!--      NOTE  separate treatment of foreign key is not within our original data structure!
          If foreign keys were treated separately a loop structure would be needed here
 -->      <!-- <div data-tag="<%=@fk.id %>">key placeholder</div> --><button id="fkadd<%=@table.id%>">add fk</button>
  </div>

</div>
