<div>
<h3>
    <tr>
      <td><%= f.text_field :name %></td>
      <td><%= f.select :data_type, %w[string text integer bigint decimal boolean date time timestamps] %></td>
      <td><a id='me' class='me btn-validations btn-link' href="#"><i class="fa fa-wrench fa-fw"></i></a></td>
    </tr>
</h3>

<div class="pure-form pure-form validation-options hidden">
  <div class="validation-options">
    <div class="line-break"></div>

      <div class='pull-left'>
        <table style="width:100%">
          <tr>
            <td class='tblCol-20'><span>Default Value:<small><%= f.text_field :default_value %></small></span></td>
            <td class='tblCol-20'><span>Validate On:<small><%= f.select :validate_on, %w[Create Update Both] %></small></span></td>
          </tr>
        </table>
      </div><br/>

      <div class='pull-left'>
        <table style="width:100%">
          <tr>
            <td class='tblCol-20 tblCol-Right'><span>Acceptance: <small><%= f.select :acceptance, %w[True False] %></span></td>
            <td class='tblCol-20 tblCol-Right'><span>Format: <small><%= f.select :format, %w[True False] %></span></td>
            <td class='tblCol-20 tblCol-Right'><span class="format-true"> Type: <small><%= f.select :format_type, %w[Valid-Email] %></span></td>
          </tr>
        </table>
      </div><br/>

      <div class='pull-left'>
        <table style="width:100%">
          <tr>
            <td class='tblCol-20 tblCol-Right'><span>Presence: <small><%= f.select :presence, %w[True False] %></span></td>
            <td class='tblCol-20 tblCol-Right'><span>Uniqueness: <small><%= f.select :uniqueness, %w[True False], class: "uniqueness-select" %></span></td>
            <td class='tblCol-20 tblCol-Right'><span class="uniqueness-true">Case Sensitive: <small><%= f.select :case_sensitive, %w[True False] %></span></td>
          </tr>
        </table>
      </div><br/>

      <div class='pull-left'>
        <table style="width:100%">
          <tr>
            <td class='tblCol-20 tblCol-Right'><span>Confirmation: <small><%= f.select :confirmation %></span></td>
            <td class='tblCol-20 tblCol-RightRight'><span>Auto Increment: <small><%= f.select :auto_increment %></span></td>
            <td class='tblCol-20 tblCol-Right'><span>Allow Null Value: <small><%= f.select :allow_null %></span></td>
          </tr>
        </table>
      </div><br/>

      <div class='pull-left'>
        <span class="format-select">Length:<%= f.check_box :length %></span>
        <table style="width:100%">
          <tr>
            <td>Min:<small><%= f.number_field :length_min %></small></td>
            <td>Max:<small><%= f.number_field :length_max %></small></td>
            <td>Equal To:<small><%= f.number_field :length_is %></small></td>
          </tr>
        </table>
      </div><br/>



        <div class="line-break"></div>
    </div>
  </div>
</div>