<fieldset class="centered margin-all">

  <div class="form-control">

    <table style="width:100%">
      <tr>
        <td><small class="form-label">Name</small></td>
        <td><small class="form-label">Data Type</small></td>
        <td> </td>
      </tr>
      <tr>
        <td><%= f.text_field :name %></td>
        <td><%= f.select :data_type, %w[string text integer bigint decimal boolean date time timestamps] %></td>
        <td><a class='btn-validations btn-link' href="#"><i class="fa fa-wrench fa-fw"></i></a></td>
      </tr>
    </table>

    <div class="validations hidden">

      <table style="width:100%">

        <tr>
          <td><small class="form-label">Default Value:</small></td>
          <td><%= f.text_field :default_value %></td>
        </tr>

        <tr>
          <td><small class="form-label">Auto Increment:</small></td>
          <td><%= f.check_box :auto_increment %></td>
        </tr>

        <tr>
          <td><small class="form-label">Allow Null Value:</small></td>
          <td><%= f.check_box :allow_null %></td>
        </tr>

        <tr>
          <td><small class="form-label">Default Value:</small></td>
          <td><%= f.text_field :presence %></td>
        </tr>

        <tr>
          <td><small class="form-label">Default Value:</small></td>
          <td><%= f.text_field :uniqueness %></td>
        </tr>

        <tr>
          <td><small class="form-label">Default Value:</small></td>
          <td><%= f.text_field :format %></td>
        </tr>

        <tr>
          <td><small class="form-label">Default Value:</small></td>
          <td><%= f.text_field :acceptance %></td>
        </tr>

        <tr>
          <td><small class="form-label">Default Value:</small></td>
          <td><%= f.text_field :confirmation %></td>
        </tr>

        <tr>
          <td><small class="form-label">Default Value:</small></td>
          <td><%= f.text_field :length %></td>
        </tr>

        <tr>
          <td><small class="form-label">Default Value:</small></td>
          <td><%= f.text_field :validate_on %></td>
        </tr>

      </table>
    </div>

  </div>

</fieldset