<div class="canvas debug">
<div class="nav-bar align-r shdw debug">
  <nav><%= link_to "New Schema", "#" %><%= link_to "Log Out", "#" %><%= link_to "Save", "#" %></nav>
</div>

<%= render '/tables/form' %>

  <% if @tables %>
    <% @tables.each do |table| %>
        <%= render partial: '/tables/show', locals: { table: table} %>
    <% end %>
  <% end %>
</div>
