<%= form_for(@table, remote: true, html: {id: "update-table-form", class: 'pure-form pure-form-aligned'}) do |f| %>

  <legend class="pure-form full-width-field">
    <%= f.label :name, "Table Name:", class: 'pure-input' %>
    <%= f.text_field :name, class: 'pure-input pure-input-2-3' %><br/>

    <div class="to-right pad-right no-pad-top no-margin-top">
      <%= button_tag('Add Comments', type: 'button', class: 'btn-add-comments btn-link no-pad-top no-margin-top') %>
    </div>

    <div class="comments-field form-container hidden">
      <%= f.label :comments, class: "form-label" %><br>
      <%= f.text_area :comments, class:'full-width-field' %>
    </div>

  </legend>

  <div class="line-break"></div>

  <div class="pure-control">
    <table style="width:100%">
      <tr>
        <td class="is-center"><small class="form-label">Name</small></td>
        <td class="is-center"><small class="form-label">Data Type</small></td>
        <td class="is-center"> </td>
      </tr>
    </table>

    <% if @table.fields.length > 0 %>
      <%= f.fields_for :fields, @table.fields, html: {id: "field-fields-form", class: 'pure-form pure-form-aligned'} do |ff| %>
        <%= render 'field_fields', f: ff %>
      <% end %>
    <% end %>


  <div class="line-break margin-bottom"></div>

  <div class='inline-group centered'>
    <div class="centered float-left">
      <%= button_tag('Reset Form', type: 'button', class: 'pure-button pure-button-primary btn-ResetCTForm') %>
    </div>

    <div class="centered float-left">
      <%= f.submit "Create Table", class: 'pure-button pure-button-primary' %>
    </div>
  </div>

<% end %>

