<div class="center-v white pad-vert">
  <%= form_for(@project) do |f| %>
    <div class='pure-form pure-form-aligned center-h'>
      <% if @project.errors.any? %>
        <div id="error_explanation" class='pure-form-message'>
          <h2><%= pluralize(@project.errors.count, "error") %> prohibited this project from being saved:</h2>

          <ul>
          <% @project.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
          </ul>
        </div>
      <% end %>

      <legend class='pure-form legend'>
        <div class='content-header blue-logo'>
          <i class="fa fa-cogs fa-5x"></i>
          <h1>New Project</h1>
        </div>
      </legend>

      <div class="pure-control row-spacing">
        <div class="centered row-spacing">
          <%= f.label :name, class: 'pure-label' %><br>
          <%= f.text_field :name, class: 'pure-input pure-u-1-5 centered' %>
        </div>

        <div class="centered row-spacing">
          <%= f.label :comments, class: 'pure-label' %><br>
          <%= f.text_area :comments, class: 'pure-input pure-u-1-5 centered' %>
        </div>

        <div class="centered row-spacing">
          <%= f.submit "Create Project", class: "pure-button pure-button-primary" %>
        </div>
      </div>
    </div>
  <% end %>
</div>
