<tr class='DT<%= field.data_type %> displayable-table-row'>
  <td class="dispTable-col1 connection-port" id="fp<%= field.id %>"></td>
  <td class="dispTable-col2"><small><%= field.name %></small></td>
  <td class="dispTable-col3"><small><%= field.data_type %></small></td>
  <td class="dispTable-col4 connection-port" id="pp<%= field.id %>"></td>
</tr>