<div>
  <h3>
      <tr>
        <td><%= f.text_field :name %></td>
        <td><%= f.select :data_type, data_type_options %></td>
        <td><a id='me' class='me btn-validations btn-link' href="#"><i class="fa fa-wrench fa-fw"></i></a></td>
      </tr>
  </h3>

  <div class="pure-form pure-form validation-options hidden">
    <div class="validation-options">
      <!-- <div class="line-break"></div> -->
      <div class='table-block'>

        <div class='pull-left options-group'>
          <table style="width:100%">
            <tr>
              <td class='tblCol-50'><span>Default Value:<small><%= f.text_field :default_value %></small></span></td>
              <td class='tblCol-20'><span>Validate On:<small><%= f.select :validate_on, %w[Create Update Both] %></small></span></td>
            </tr>
          </table>
        </div><br/>
        <div class='pull-left options-group'>
          <table style="width:100%">
            <tr>
              <td class='tblCol-20 tblCol-Right'><span>Acceptance: <small><%= f.select :acceptance, %w[True False] %></span></td>
              <td class='tblCol-20 tblCol-Right'><span>Format: <small><%= f.select :format, %w[True False] %></span></td>
              <td class='tblCol-20 tblCol-Right'><span class="format-true"> Type: <small><%= f.select :format_type, %w[Valid-Email] %></span></td>
            </tr>
          </table>
        </div>

        <div class='pull-left options-group'>
          <table style="width:100%">
            <tr>
              <td class='tblCol-20 tblCol-Right'><span>Presence: <small><%= f.select :presence, %w[True False] %></span></td>
              <td class='tblCol-20 tblCol-Right'><span>Uniqueness: <small><%= f.select :uniqueness, %w[True False], class: "uniqueness-select" %></span></td>
              <td class='tblCol-20 tblCol-Right'><span class="uniqueness-true">Case Sensitive: <small><%= f.select :case_sensitive, %w[True False] %></span></td>
            </tr>
          </table>
        </div>

        <div class='pull-left options-group'>
          <table style="width:100%">
            <tr>
              <td class='tblCol-20 tblCol-Right'><span>Confirmation: <small><%= f.select :confirmation, %w[True False] %></span></td>
              <td class='tblCol-20 tblCol-Right'><span>Increment: <small><%= f.select :auto_increment, %w[True False] %></span></td>
              <td class='tblCol-20 tblCol-Right'><span>Allow Null: <small><%= f.select :allow_null, %w[True False] %></span></td>
            </tr>
          </table>
        </div>

        <div class='pull-left options-group full-width-field'>
          <table style="width:100%">
            <tr>
              <td class='pad-right tblCol-20 tblCol-Right'><span class="format-select">Length:<small><%= f.select :length, %w[True False] %></small></span></td>
              <td class='pad-right tblCol-20 tblCol-Right'><span>Min:<small><%= f.number_field :length_min, class:'fixed-width' %></small></span></td>
              <td class='pad-right tblCol-20 tblCol-Right'><span>Max:<small><%= f.number_field :length_max, class:'fixed-width' %></small></span></td>
              <td class='tblCol-Right'><span>Equal To:<small><%= f.number_field :length_is, class:'fixed-width' %></small></span></td>
            </tr>
            <tr>

            </tr>
          </table>
        </div>
      </div>
    </div>
  </div>
  <div>   
      <% bar=@table.fields[f.index][:id]  %>
      <% @field_id = Field.find(bar) %>
     <!--  <p class="modal-delete-field-id" data-field-fieldid= <%= @field_id.id %> >
       FFFFFFFOOOO
      </p> -->
      
        <%= link_to("delete field", url_for([@table, @field_id]), method: :delete) %>

       <!--  <p class="delete-field-wrapper">
          this will be a big wrapper
        </p> -->

      <br><br> <!-- replace with better space -->
    <div class="line-break"></div>
    <br>
  </div>
</div>
