<% style = "position: absolute; left: #{table.position_x}px; top: #{table.position_y}px;" %>
<div data-table-id="<%= table.id %>" style="<%= style %>" class="pure draggable displayable-table">

  <div class="callout-card primary">
    <div class="card-label">
      <div class="label-text">
        <button id="tb<%= table.id %>" class="btn-link btn-edit-table" title="tbl-edit">Edit</button>
      </div>
    </div>

    <div class="callout-card-content full-width-field">
      <div class='header'><h3 class="lead">Table: <%= table.name %></h3></div>

      <div class="callout-table-divider"></div>

      <div class='content'>
        <table class="displayable-table-width no-pad no-margin">
          <thead>
            <tr class='full-width-field'>
              <th class="dispTable-col1"><small></small></th>
              <th class="dispTable-col2"><small>Field Name</small></th>
              <th class="dispTable-col3"><small>Data Type</small></th>
              <th class="dispTable-col4"><small></small></th>
            </tr>
          </thead>
          <tbody>
            <% table.ordered_fields.each do |field| %>
              <%= render partial: '/fields/show', locals: { field: field } %>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
